#audioplayer{
	width:90%;
	height:60px;
    bottom:0;
    left:10%;z-index:400;
    position:absolute;}

#pButton{z-index:500;
    height:60px;
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
}

.play{background: url('play.png') ;z-index: 600;}
.pause{background: url('pause.png') ;z-index: 601;}

#timeline{
	width:80%;
	height: 20px;
	float: left;
    bottom:20px;left:60px;position:absolute;
	border-radius: 15px;
	background: rgba(0,0,0,.3);

}
#playhead{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #000;
}

@media (max-width:600px)
{#audioplayer{left:0;}
    #timeline{width:85%;}}
