body {
  text-align: center;
}
.container {z-index:500;
  position: absolute;
  outline: none;
bottom:0;left:0;
  width: 100%;
}
p.track {
  text-transform: uppercase;
  color: #252525;
}
p.track span {
  color: #BB99D0;
}
button {
  background-color: rgba(60, 60, 60, 0);
  color: #BB99D0;border:0;
  text-align: center;
  vertical-align: middle;
  transition: all 0.5s ease 0;
}
button[data-am-button^="large"] {
  width: 60px;
  height: 60px;
  margin: 0;
}
button[data-am-button^="large"] i {
  font-size: 60px;
}
button[data-am-button^="small"] {
  width: 40px;
  height: 40px;
}
button[data-am-button^="small"] i {
  font-size: 14px;
}
button:hover {
  color: #252525;
}
button:focus {
  outline: none;
}
#progress-bar {
  width: 100%;
  height:40px;
  position: relative;
  margin:0;
}
#progress-bar #progress {
  background-color: #BB99D0;
  height:20px;
  position:absolute;
  left: 0; bottom:0;
  transition: width 2.5s linear 0;
}
